<body>
    <app-header />
    <main>

        <app-card title="Play It now!" paragraph="Full Game | PS4" [price]=90.99 span="Exclusive" photo="https://upload.wikimedia.org/wikipedia/pt/8/84/Battlefield_4_capa.png"/>
        <app-card title="Buy Now!" paragraph="Full Game | PS4" span="Cross Buy" [price]=59.99 photo="https://image.api.playstation.com/vulcan/ap/rnd/202306/2400/e5cf467175f4a1455ce65b4688952b391d3e15bde9114698.png"/>
        <app-card title="Play It now!" paragraph="Digital Game | PS4 | PS Vita" [price]=12.92 photo="https://assets.nintendo.com/image/upload/f_auto/q_auto/dpr_2.0/c_scale,w_400/ncom/pt_BR/games/switch/c/crash-bandicoot-n-sane-trilogy-switch/description-image"/>
        <app-card title="Play It now!" paragraph="Full Game | PS4" [price]=100.21 span="Cross Buy" photo="https://pbs.twimg.com/media/FqeRfIYaQAADtdR.jpg:large"/>
        <app-card title="Play It now!" paragraph="Digital Game | PS4 | PS3 | pbs Vita" [price]=15.99  photo="https://image.api.playstation.com/vulcan/img/cfn/11307uYG0CXzRuA9aryByTHYrQLFz-HVQ3VVl7aAysxK15HMpqjkAIcC_R5vdfZt52hAXQNHoYhSuoSq_46_MT_tDBcLu49I.png"/>
        </main>
    
</body>
